<ul class="media-list load-more comments-ul-<%= active.id %>">
  <li class="media">
    <div class="push-top form-hide form-comment-<%= active.id %>">
      <%= link_to current_user do %>
        <%= image_tag current_user.avatar,
          class: "img-circle pull-left img-user-time-line-small" %>
      <% end %>
      <div class="media-body">
        <%= form_for Comment.new, remote: true do |f| %>
          <%= f.text_area :content, class: "form-control text-area-comment",
            id: "profile-newsfeed-comment", rows: 2,
            placeholder: t("your_comment") %>
          <%= f.hidden_field :target_id, value: active.id %>
          <%= f.hidden_field :target_type, value: Settings.active %>
            <%= f.submit t("post_comment"),
              class: "btn btn-xs btn-primary pull-right" %>
        <% end %>
      </div>
    </div>
  </li>
  <% active.comments.sort_comment.each do |comment| %>
    <dt class="media">
        <%= image_tag comment.user.avatar,
          class: "img-circle pull-left img-user-time-line-small" %>
        <div class="media-body">
            <%= link_to comment.user do %>
              <strong><%= comment.user.full_name %></strong>
            <% end %>
            <span class="text-muted">
              <small><em><%= time_ago_in_words comment.created_at %></em></small>
            </span>
            <p><%= comment.content %></p>
        </div>
    </dt>
  <% end %>
  <div class="push-top">
    <% if active.comments.size > Settings.max_show_comment %>
      <span class="media text-center">
        <a href="javascript:void(0)"
          class="btn btn-xs btn-default push load-more-comment"
          id="comments-ul-<%= active.id %>">Load more..</a>
      </span>
    <% end %>
  </div>
</ul>
