<section class="site-content site-section">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 site-block">
        <a href="javascript:void(0)" class="pull-left">
          <%= image_tag current_user.avatar, class: "img-circle img-user-time-line push-right" %>
        </a>
        <div class="media-body">
          <%= form_for Comment.new, remote: true do |f| %>
            <%= f.text_area :content, class: "form-control text-area-comment",
            id: "profile-newsfeed-comment", rows: 4,
            placeholder: t("your_comment") %>
            <%= f.hidden_field :target_id, value: @event.id %>
            <%= f.hidden_field :target_type, value: Settings.event %>
            <%= f.submit t("post_comment"),
              class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="push"></div>
</section>
